/* Custom css for use across my website */

.main {
	margin: 0 auto;
	max-width: 1000px;
	padding-top: 20px;
}

.lib-nav {
	background: rgb(225, 245, 232);
	padding-left: 30px;
	padding-right: 100px;
}

.center-text {
	text-align: center;
}

.subtitle {
	font-size: 24px;
}

.padded {
	padding: 30px;
}